@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Yeon Sung", cursive;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding: 0 20px;
}

/* Button */
.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: inherit;
}

.Button_default {
  background-color: #ececec;
  color: black;
}

.Button_positive {
  background-color: #64c964;
  color: white;
}

.Button_nagative {
  background-color: #fd565f;
  color: white;
}

/* Header */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

/* DiaryList */
.DiaryList .menu_wrapper {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu_wrapper .right_col {
  flex-grow: 1;
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 10px 20px;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
}

/* DiaryItem */
.DiaryItem {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}

.DiaryItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}

.DiaryItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}

.DiaryItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}

.DiaryItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryItem .emotion_img_wrapper img {
  width: 50%;
}

.DiaryItem .info_wrapper {
  cursor: pointer;
  flex-grow: 1;
  margin-left: 20px;
}

.DiaryItem .diary_date {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.DiaryItem .diary_content_preview {
  font-size: 18px;
}

.DiaryItem .btn_wrapper {
  min-width: 70px;
}

/* DiaryEditor */
.DiaryEditor {
}

.DiaryEditor section {
  margin-bottom: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor .input_date {
  border: none;
  background-color: #ececec;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

.input_box_text_wrapper textarea {
  font-family: inherit;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 20px;
}

.control_box {
  display: flex;
  justify-content: space-between;
}

/* DiaryEditor */
.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

/* EmotionItem */
.EmotionItem {
  cursor: pointer;
  border-radius: 5px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
}

.selected1 {
  background-color: #64c964;
  color: white;
}
.selected2 {
  background-color: #9dd772;
  color: white;
}
.selected3 {
  background-color: #fdce17;
  color: white;
}
.selected4 {
  background-color: #fd8446;
  color: white;
}
.selected5 {
  background-color: #fd565f;
  color: white;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem span {
  font-size: 18px;
}
